
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="display-4">Fase de Despliegue</h1>

    </div>


<a asp-controller="Games" asp-action="Index" class="btn btn-warning">Lista de videojuegos</a>